.boards {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 500px;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 5vh 5vw;
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
}

.square {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.square.first-col {
  border-left: 1px solid black;
}

.square.last-row {
  border-bottom: 1px solid black;
}

.ship {
  background-color: grey;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

.sunk {
  background-color: green;
}
