.boards {
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: 500px;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 5vh 5vw;
}

.board {
  width: 100%;
  height: 100%;
  border: 3px solid black;
  display: grid;
}

.square {
  border: 1px solid grey;
}

.ship {
  background-color: grey;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

.sunk {
  background-color: black;
}
